@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-bg-secondary text-fg-secondary transition-colors duration-200 scroll-smooth;
    font-family: "Inter", sans-serif;
    font-size: 0.85rem; /* base font-size (0.85rem = 13.6px) */
    line-height: 1.8;
  }

  /* Responsive fs-base */
  @media (min-width: 550px) {
    html {
      font-size: 0.90rem;
    }
  }

  @media (min-width: 1024px) {
    html {
      font-size: 1rem;
    }
  }

  body {
    @apply m-0 p-0;
  }

  h1, .h1 {
    @apply text-fs-1 font-black text-fg-primary dark:text-dark-fg-primary leading-[1.6];
  }
  h2, .h2 {
    @apply text-fs-2 font-bold text-fg-primary dark:text-dark-fg-primary leading-[1.3];
  }
  h3, .h3 {
    @apply text-fs-3 font-bold text-fg-primary dark:text-dark-fg-primary leading-[1.4];
  }
  h4, .h4 {
    @apply text-fs-4 font-bold text-fg-primary dark:text-dark-fg-primary;
  }

  a {
    @apply no-underline inline-block;
  }

  li {
    @apply list-none;
  }

  img, button {
    @apply block;
  }

  span {
    @apply inline-block;
  }

  button {
    font: inherit;
    @apply border-none bg-transparent cursor-pointer;
  }

  :focus {
    @apply outline-offset-4;
  }

  /* Scrollbar styles */
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-accent rounded-[20px];
  }

  /* We can specify scrollbar track & thumb borders if needed, but modern scrollbar custom CSS is fine here */
  .light-theme::-webkit-scrollbar-thumb {
    border-color: hsl(0, 0%, 90%);
  }

  .light-theme::-webkit-scrollbar-track {
    background: hsl(0, 0%, 90%);
  }
}
